@font-face {
    font-family: "Whitney Bold";
    src: url('/fonts/whitneybold-webfont.woff2') format('woff2'),
         url('/fonts/whitneybold-webfont.woff') format('woff');
}

@font-face {
    font-family: "Whitney";
    src: url('/fonts/whitney_medium-webfont.woff') format('woff'),
         url('/fonts/whitney_medium-webfont.woff2') format('woff2');
}

h1,h2,h3,h4,h5,h6,p,span{
    margin: 0;
    font-family: "Whitney", "Whitney Bold", Arial, Helvetica, sans-serif;
}

a{
    text-decoration: none;
}

input{
    border: none;
}

button{
    border: none;
    cursor: pointer;
    padding: 0;
}

textarea{
    font-family: Whitney, Whitney Bold, Arial, Helvetica, sans-serif;
}

.black-screen-alpha{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    z-index: 100;
    animation: opac 0.5s;
    display: none;
}

@keyframes opac{
    from{
        opacity: 0
    } to {
        opacity: 1
    }
}

.Selection-box-responsive{
    position: relative;
    width: 50%;
    height: 100%;
    background-color: #ffffff;
    z-index: 101;
    padding: 10px;
    font-family: "Whitney";
    display: flex;
    flex-direction: column;
    animation: animate-right 0.5s;
    display: none;
}

.Selection-box-responsive-out{
    animation: animate-left 0.5s;
}

@keyframes animate-right{
    0% {left:-30px;opacity:0}
    100% {left:0;opacity:1}
}

@keyframes animate-left{
    0% {left:-0px;opacity:1}
    100% {left:-30px;opacity:0}
}

.black-screen-alpha-opac-out{
    animation: fadeout 0.5s;
}

@keyframes fadeout {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.header-selection{
    margin: 10px;
}

.selection-box-selection{
    display: flex;
    flex-direction: column;
}

.inside-selection{
    font-size: 15px;
    padding: 12px;
    border-radius: 7px;
    margin: 0 10px 10px 10px;
    cursor: pointer;
}

.inside-selection:hover{
    background-color: #0099ff;
}

.inside-selection:hover > p{
    color: #ffffff;
}

.header-selection > button {
    float: right;
}

.header-scroll{
    background:linear-gradient(80deg,rgb(0, 0, 0),rgb(0, 39, 61));
    color: white;
    fill: white;
}

.Header{
    background-color: white;
    height: 100px;
    width: 100%;
    font-family: "Whitney";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    box-shadow: 0px 0px 10px #888888;
    display: flex;
    justify-content: space-between;
}

.bar{
    margin: 17px 0 17px 17px;
    display: none;
}

.Selection{
    display: flex;
    justify-content: space-between;
    margin: auto 0 auto 0;
    text-decoration: none;
}

#inside_selection{
    font-size: 20px;
    font-weight: bold;
    margin-right: 50px;
}

.a{
    color: black;
}

#inside_selection.block{
    margin-right: 0px;
}

.form{
    border: 2px solid rgb(64, 144, 235);
    border-radius: 30px;
}

.search{
    display: flex;
}

.input-search{
    background-color: transparent;
    width: 100%;
    padding: 10px;
    display: flex;
    transition: width ease 0.2s, opacity ease 0.4s;
    opacity: .7;
}

.search-box{
    background-color: transparent;
    width: auto;
    margin: auto;
    position: relative;
    animation: animateright 0.4s;
}

.search-box-animateleft{
    animation: animateleft 0.4s;
}

@keyframes animateleft{
    from{right:0;opacity:1} to {right:-30px;opacity:0}
};

.search-box{
    background-color: transparent;
    width: auto;
    margin: auto;
    position: relative;
    animation: animateright 0.4s;
}

@keyframes animateright{
    from{right:-30px;opacity:0} to {right:0;opacity:1}
};

#search_input_box {
    user-select: none;
}

.search-box-flex{
    display: flex;
    align-items: center;
}

.search-icon{
    margin: auto 20px;
}

::-webkit-scrollbar {
    width: 5px;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 10px;
}

.content{
    position: fixed;
    top: 100px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.footer{
    background-color: white;
    width: 100%;
    box-shadow: 0px 0px 10px #888888;
}

.footer-inside{
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.footer1{
    display: flex;
}

.footer2{
    display: flex;
    flex-direction: column;
}

.footer2 > h2{
    margin: 20px 0 5px 0;
}

.footer3{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.footer3-inside{
    margin: 0 20px;
}

.footer3-inside > ul{
    margin: 15px 0 0 0;
    color: grey;
    font-family: Whitney;
    list-style-type: none;
    padding: 0;
    font-size: 13px;
}

.list{
    margin: 15px 0 0 0;
    cursor: not-allowed;
}

.list2{
    margin: 15px 0 0 0;
}

.list2 > a{
    color: grey;
}

.footer4{
    display: flex;
    flex-direction: column;
    margin: 0 20px;
}

.footer4 > .footer3-inside{
    margin: 0;
}

.footer-socials{
    display: flex;
    font-size: 13px;
    margin: 20px;
    margin-bottom: auto;
}

.footer-socials > li.social{
    margin: 0 0 0 20px;
}

li.social > a{
    color: grey;
    text-decoration: none;
}

.footer-copyright{
    font-size: 13px;
    color: grey;
    margin-top: auto;
    margin-bottom: 24px;
}

.footer-copyright > span{
    margin: 0 0 0 20px;
}

/* Website Responsive */

@media screen and (max-width: 800px){
    .Selection{
        display: none;
    }
    .bar{
        display: block;
    }
    .footer3{
        flex-direction: column;
    }
    .footer3-inside{
        margin-bottom: 25px;
    }
    #response{
        margin: 0;
    }
    .Selection-box-responsive{
        display: block;
    }
    .black-screen-alpha{
        display: block;
    }
}