.content-background{
    background:linear-gradient(80deg,rgb(0, 0, 0),rgb(0, 39, 61));
    width: 100%;
    overflow-y: scroll;
}

.introduce{
    padding: 50px;
    color: white;
    position: relative;
    animation: showUp 1s;
}

@keyframes showUp{
    0%{
        opacity: 0;
        right: 30px;
    }
    100%{
        opacity: 1;
        right: 0;
    }
}

span.title{
    font-size: 50px;
    font-family: "Whitney Bold";
}

p.title{
    font-size: 50px;
    font-family: "Whitney Bold";
}

p.description{
    margin-top: 15px;
    font-size: 20px;
    font-family: "Whitney";
    margin-block-end: 20px;
}

.button_goback{
    background-color: transparent;
    border: 3px solid white;
    padding: 10px 20px;
    color: white;
    font-family: "Whitney";
    transition: ease .2s;
}

.button_goback:hover{
    background-color: white;
    color: black;
}

.ktmuzik,.ktmuzik-plus,.ktfilm,.chill-music{
    font-family: "Whitney";
    display: flex;
    align-items: center;
    padding: 50px;
    color: white;
    justify-content: space-between;
    position: relative;
}

.button_tryit{
    background-color: transparent;
    border: 3px solid white;
    padding: 10px 20px;
    color: white;
    font-family: "Whitney";
    width: 110px;
    transition: ease .2s;
}

.button_tryit:hover{
    background-color: white;
    color: black;
}

@media screen and (max-width: 800px){
    .introduce, .ktmuzik, .ktmuzik-plus, .ktfilm, .chill-music{
        flex-direction: column;
        align-items: center;
    }

    .ktmuzik > div, .ktmuzik-plus > div, .ktfilm > div, .chill-music > div{
        text-align: center;
        align-items: center;
        margin-bottom: 35px;
    }
}